name: my new Secret

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build for code
        run: echo "hello, ${{ secrets.DOCKER_PASSWORD }}"
